In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np
%matplotlib inline

In [5]:
#get my data
df2015 = pd.read_csv("crime-incident-reports-2015.csv")
df2016 = pd.read_csv("crime-incident-reports-2016.csv")
df2017 = pd.read_csv("crime-incident-reports-2017.csv")
df2018 = pd.read_csv("crime-incident-reports-2018.csv")
df2019 = pd.read_csv("crime-incident-reports-2019.csv")
df2020 = pd.read_csv("crime-incident-reports-2020.csv")
df2021 = pd.read_csv("crime-incident-reports-2021.csv")

/var/folders/vw/1h05rsrx3wbc05jyk4c2bl680000gn/T/ipykernel_2107/158132470.py:6: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df2019 = pd.read_csv("crime-incident-reports-2019.csv")
/var/folders/vw/1h05rsrx3wbc05jyk4c2bl680000gn/T/ipykernel_2107/158132470.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df2020 = pd.read_csv("crime-incident-reports-2020.csv")
/var/folders/vw/1h05rsrx3wbc05jyk4c2bl680000gn/T/ipykernel_2107/158132470.py:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df2021 = pd.read_csv("crime-incident-reports-2021.csv")

In [14]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99430 entries, 0 to 99429
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   INCIDENT_NUMBER      99430 non-null  object
 1   OFFENSE_CODE         99430 non-null  int64
 2   OFFENSE_CODE_GROUP   99430 non-null  object
 3   OFFENSE_DESCRIPTION  99430 non-null  object
 4   DISTRICT             98947 non-null  object
 5   REPORTING_AREA       99430 non-null  object
 6   SHOOTING             345 non-null    object
 7   OCCURRED_ON_DATE     99430 non-null  object
 8   YEAR                 99430 non-null  int64
 9   MONTH                99430 non-null  int64
 10  DAY_OF_WEEK          99430 non-null  object
 11  HOUR                 99430 non-null  int64
 12  UCR_PART             99394 non-null  object
 13  STREET               93817 non-null  object
 14  Lat                  92486 non-null  float64
 15  Long                 92486 non-null  float64
 16  Location             99430 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 12.9+ MB

In [15]:
table = []
table.append(df2015)
table.append(df2016)
table.append(df2017)
table.append(df2018)
table.append(df2019)
table.append(df2020)
table.append(df2021)

In [16]:
table

[      INCIDENT_NUMBER  OFFENSE_CODE OFFENSE_CODE_GROUP  \
 0          I192068249          2647              Other
 1          I192061894          1106   Confidence Games
 2          I192038828          1107              Fraud
 3          I192008877          1107              Fraud
 4          I182090828          1102              Fraud
 ...               ...           ...                ...
 53592   I080542626-00          3125    Warrant Arrests
 53593   I080542626-00          1848     Drug Violation
 53594   I080542626-00          1848     Drug Violation
 53595   I030217815-08          3125    Warrant Arrests
 53596   I030217815-08           111           Homicide

                                   OFFENSE_DESCRIPTION DISTRICT REPORTING_AREA  \
 0                           THREATS TO DO BODILY HARM       B2            280
 1                     FRAUD - CREDIT CARD / ATM FRAUD      C11            356
 2                               FRAUD - IMPERSONATION       A1            172
 3                               FRAUD - IMPERSONATION      E18            525
 4                     FRAUD - FALSE PRETENSE / SCHEME       D4            159
 ...                                               ...      ...            ...
 53592                                  WARRANT ARREST       A1            111
 53593  DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP       A1            111
 53594  DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP       A1            111
 53595                                  WARRANT ARREST      E18            520
 53596             MURDER, NON-NEGLIGIENT MANSLAUGHTER      E18            520

       SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  HOUR  \
 0          NaN  2015-08-28 10:20:00  2015      8      Friday    10
 1          NaN  2015-08-20 00:00:00  2015      8    Thursday     0
 2          NaN  2015-11-02 12:24:00  2015     11      Monday    12
 3          NaN  2015-07-31 10:00:00  2015      7      Friday    10
 4          NaN  2015-12-01 12:00:00  2015     12     Tuesday    12
 ...        ...                  ...   ...    ...         ...   ...
 53592      NaN  2015-08-12 12:00:00  2015      8   Wednesday    12
 53593      NaN  2015-08-12 12:00:00  2015      8   Wednesday    12
 53594      NaN  2015-08-12 12:00:00  2015      8   Wednesday    12
 53595      NaN  2015-07-09 13:38:00  2015      7    Thursday    13
 53596      NaN  2015-07-09 13:38:00  2015      7    Thursday    13

          UCR_PART         STREET        Lat       Long  \
 0        Part Two  WASHINGTON ST  42.330119 -71.084251
 1        Part Two     CHARLES ST  42.300605 -71.061268
 2        Part Two      ALBANY ST  42.334288 -71.072395
 3        Part Two     WINGATE RD  42.237009 -71.129566
 4        Part Two       UPTON ST  42.342432 -71.072258
 ...           ...            ...        ...        ...
 53592  Part Three    BOYLSTON ST  42.352312 -71.063705
 53593    Part Two    BOYLSTON ST  42.352312 -71.063705
 53594    Part Two    BOYLSTON ST  42.352312 -71.063705
 53595  Part Three       RIVER ST  42.255926 -71.123172
 53596    Part One       RIVER ST  42.255926 -71.123172

                           Location
 0      (42.33011862, -71.08425106)
 1      (42.30060543, -71.06126785)
 2      (42.33428841, -71.07239518)
 3      (42.23700950, -71.12956606)
 4      (42.34243222, -71.07225766)
 ...                            ...
 53592  (42.35231190, -71.06370510)
 53593  (42.35231190, -71.06370510)
 53594  (42.35231190, -71.06370510)
 53595  (42.25592648, -71.12317207)
 53596  (42.25592648, -71.12317207)

 [53597 rows x 17 columns],
       INCIDENT_NUMBER  OFFENSE_CODE OFFENSE_CODE_GROUP  \
 0          I192074738          2629         Harassment
 1          I192073288           802     Simple Assault
 2          I192071326           619            Larceny
 3          I192071326          1102              Fraud
 4          I192071292          1107              Fraud
 ...               ...           ...                ...
 99425   I100033064-00          2910         Violations
 99426   I090321958-00          3125    Warrant Arrests
 99427   I090321958-00          3125    Warrant Arrests
 99428   I050310906-00          3125    Warrant Arrests
 99429   I010370257-00          3125    Warrant Arrests

                    OFFENSE_DESCRIPTION DISTRICT REPORTING_AREA SHOOTING  \
 0                           HARASSMENT      C11            240      NaN
 1             ASSAULT SIMPLE - BATTERY      D14            760      NaN
 2                   LARCENY ALL OTHERS       A1            113      NaN
 3      FRAUD - FALSE PRETENSE / SCHEME       A1            113      NaN
 4                FRAUD - IMPERSONATION       B2            328      NaN
 ...                                ...      ...            ...      ...
 99425  VAL - OPERATING AFTER REV/SUSP.       B2            304      NaN
 99426                   WARRANT ARREST      C11            355      NaN
 99427                   WARRANT ARREST      C11            355      NaN
 99428                   WARRANT ARREST       D4            285      NaN
 99429                   WARRANT ARREST      E13            569      NaN

           OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  HOUR    UCR_PART  \
 0      2016-09-01 00:00:00  2016      9    Thursday     0    Part Two
 1      2016-09-01 09:00:00  2016      9    Thursday     9    Part Two
 2      2016-08-02 00:00:00  2016      8     Tuesday     0    Part One
 3      2016-08-02 00:00:00  2016      8     Tuesday     0    Part Two
 4      2016-09-06 13:01:00  2016      9     Tuesday    13    Part Two
 ...                    ...   ...    ...         ...   ...         ...
 99425  2016-07-29 18:20:00  2016      7      Friday    18    Part Two
 99426  2016-02-01 01:43:00  2016      2      Monday     1  Part Three
 99427  2016-02-01 01:43:00  2016      2      Monday     1  Part Three
 99428  2016-06-05 17:25:00  2016      6      Sunday    17  Part Three
 99429  2016-05-31 19:35:00  2016      5     Tuesday    19  Part Three

                   STREET        Lat       Long                     Location
 0              CONRAD ST  42.318724 -71.062001  (42.31872369, -71.06200077)
 1          BEECHCROFT ST  42.351673 -71.161152  (42.35167293, -71.16115206)
 2                HIGH ST  42.353448 -71.056581  (42.35344834, -71.05658072)
 3                HIGH ST  42.353448 -71.056581  (42.35344834, -71.05658072)
 4            FERNBORO ST  42.311296 -71.077283  (42.31129587, -71.07728269)
 ...                  ...        ...        ...                          ...
 99425        SLAYTON WAY  42.321770 -71.097798  (42.32177032, -71.09779774)
 99426         GENEVA AVE        NaN        NaN     (0.00000000, 0.00000000)
 99427         GENEVA AVE        NaN        NaN     (0.00000000, 0.00000000)
 99428        COVENTRY ST  42.336951 -71.085748  (42.33695098, -71.08574813)
 99429  NEW WASHINGTON ST  42.302333 -71.111565  (42.30233307, -71.11156487)

 [99430 rows x 17 columns],
        INCIDENT_NUMBER  OFFENSE_CODE OFFENSE_CODE_GROUP  \
 0           I192074488           619            Larceny
 1           I192073511          1107              Fraud
 2           I192073187          2629         Harassment
 3           I192072907           802     Simple Assault
 4           I192072900          1102              Fraud
 ...                ...           ...                ...
 101333   I120201612-00          3130    Search Warrants
 101334   I120201612-00          3125    Warrant Arrests
 101335   I120201612-00          1841     Drug Violation
 101336   I120201612-00          1841     Drug Violation
 101337   I120201612-00          1841     Drug Violation

                                    OFFENSE_DESCRIPTION DISTRICT  \
 0                                   LARCENY ALL OTHERS      C11
 1                                FRAUD - IMPERSONATION       B3
 2                                           HARASSMENT       C6
 3                             ASSAULT SIMPLE - BATTERY       D4
 4                      FRAUD - FALSE PRETENSE / SCHEME       D4
 ...                                                ...      ...
 101333                                  SEARCH WARRANT       B2
 101334                                  WARRANT ARREST       B2
 101335  DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP       B2
 101336  DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP       B2
 101337  DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP       B2

        REPORTING_AREA SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  \
 0                 351      NaN  2017-08-23 00:00:00  2017      8   Wednesday
 1                 435      NaN  2017-02-21 00:01:00  2017      2     Tuesday
 2                 231      NaN  2017-07-13 00:00:00  2017      7    Thursday
 3                 171      NaN  2017-09-01 16:32:00  2017      9      Friday
 4                 151      NaN  2017-09-01 00:00:00  2017      9      Friday
 ...               ...      ...                  ...   ...    ...         ...
 101333            292      NaN  2017-01-20 02:00:00  2017      1      Friday
 101334            292      NaN  2017-01-20 02:00:00  2017      1      Friday
 101335            292      NaN  2017-01-20 02:00:00  2017      1      Friday
 101336            292      NaN  2017-01-20 02:00:00  2017      1      Friday
 101337            292      NaN  2017-01-20 02:00:00  2017      1      Friday

         HOUR    UCR_PART         STREET        Lat       Long  \
 0          0    Part One       ADAMS ST  42.300605 -71.059230
 1          0    Part Two   ARMANDINE ST  42.284315 -71.074108
 2          0    Part Two     E FIFTH ST  42.333989 -71.032606
 3         16    Part Two   HARRISON AVE  42.335119 -71.074917
 4          0    Part Two     WARREN AVE  42.345163 -71.071291
 ...      ...         ...            ...        ...        ...
 101333     2  Part Three  JOHN ELIOT SQ  42.330013 -71.091179
 101334     2  Part Three  JOHN ELIOT SQ  42.330013 -71.091179
 101335     2    Part Two  JOHN ELIOT SQ  42.330013 -71.091179
 101336     2    Part Two  JOHN ELIOT SQ  42.330013 -71.091179
 101337     2    Part Two  JOHN ELIOT SQ  42.330013 -71.091179

                            Location
 0       (42.30060526, -71.05923027)
 1       (42.28431486, -71.07410838)
 2       (42.33398889, -71.03260574)
 3       (42.33511904, -71.07491710)
 4       (42.34516350, -71.07129114)
 ...                             ...
 101333  (42.33001318, -71.09117863)
 101334  (42.33001318, -71.09117863)
 101335  (42.33001318, -71.09117863)
 101336  (42.33001318, -71.09117863)
 101337  (42.33001318, -71.09117863)

 [101338 rows x 17 columns],
       INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
 0          I192077559          3115  Investigate Person
 1          I192077332           619             Larceny
 2          I192076660          2629          Harassment
 3          I192075386          2629          Harassment
 4          I192075335          3208       Property Lost
 ...               ...           ...                 ...
 98883   I070720870-00           802      Simple Assault
 98884   I070720870-00          3125     Warrant Arrests
 98885   I060168073-00          1864      Drug Violation
 98886   I060168073-00          1864      Drug Violation
 98887   I060168073-00          3125     Warrant Arrests

                                OFFENSE_DESCRIPTION DISTRICT REPORTING_AREA  \
 0                               INVESTIGATE PERSON       B3            468
 1                               LARCENY ALL OTHERS      E18            496
 2                                       HARASSMENT       E5            662
 3                                       HARASSMENT       A1             96
 4                               PROPERTY - MISSING       D4            132
 ...                                            ...      ...            ...
 98883                            ASSAULT & BATTERY       B2            318
 98884                               WARRANT ARREST       B2            318
 98885  DRUGS - POSS CLASS D - INTENT MFR DIST DISP      E13            912
 98886  DRUGS - POSS CLASS D - INTENT MFR DIST DISP      E13            912
 98887                               WARRANT ARREST      E13            912

       SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  HOUR  \
 0          NaN  2018-04-30 09:00:00  2018      4      Monday     9
 1          NaN  2018-03-06 08:00:00  2018      3     Tuesday     8
 2          NaN  2018-10-31 12:00:00  2018     10   Wednesday    12
 3          NaN  2018-04-09 08:43:00  2018      4      Monday     8
 4          NaN  2018-01-01 00:00:00  2018      1      Monday     0
 ...        ...                  ...   ...    ...         ...   ...
 98883      NaN  2018-12-13 00:00:00  2018     12    Thursday     0
 98884      NaN  2018-12-13 00:00:00  2018     12    Thursday     0
 98885      NaN  2018-01-27 14:01:00  2018      1    Saturday    14
 98886      NaN  2018-01-27 14:01:00  2018      1    Saturday    14
 98887      NaN  2018-01-27 14:01:00  2018      1    Saturday    14

          UCR_PART            STREET        Lat       Long  \
 0      Part Three       HAZLETON ST  42.279971 -71.095534
 1        Part One     HYDE PARK AVE  42.269224 -71.120853
 2        Part Two       PRIMROSE ST  42.290765 -71.130211
 3        Part Two      ATLANTIC AVE  42.355264 -71.050988
 4      Part Three  COMMONWEALTH AVE  42.353522 -71.072838
 ...           ...               ...        ...        ...
 98883    Part Two     BROOKLEDGE ST  42.309563 -71.089902
 98884  Part Three     BROOKLEDGE ST  42.309563 -71.089902
 98885    Part Two         CENTRE ST  42.322838 -71.100967
 98886    Part Two         CENTRE ST  42.322838 -71.100967
 98887  Part Three         CENTRE ST  42.322838 -71.100967

                           Location
 0      (42.27997063, -71.09553354)
 1      (42.26922388, -71.12085347)
 2      (42.29076521, -71.13021098)
 3      (42.35526402, -71.05098788)
 4      (42.35352153, -71.07283786)
 ...                            ...
 98883  (42.30956305, -71.08990197)
 98884  (42.30956305, -71.08990197)
 98885  (42.32283759, -71.10096723)
 98886  (42.32283759, -71.10096723)
 98887  (42.32283759, -71.10096723)

 [98888 rows x 17 columns],
       INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
 0           102091671          2647                 NaN
 1           102095489          3115                 NaN
 2           102096818          2905                 NaN
 3           129092894          3201                 NaN
 4           129099920          3301                 NaN
 ...               ...           ...                 ...
 87179       192078631           400                 NaN
 87180       192078608           800                 NaN
 87181       192078606          3300                 NaN
 87182       192078634          3300                 NaN
 87183       192078648          3100                 NaN

                                      OFFENSE_DESCRIPTION DISTRICT  \
 0                              THREATS TO DO BODILY HARM       B3
 1                                     INVESTIGATE PERSON      E18
 2                            VAL - VIOLATION OF AUTO LAW       A1
 3                               PROPERTY - LOST/ MISSING      NaN
 4                                         VERBAL DISPUTE       B2
 ...                                                  ...      ...
 87179  Migrated Report - Aggravated Assault/Aggravate...       A7
 87180        Migrated Report - Assault/Assault & Battery      E18
 87181                   Migrated Report - Other Part III       C6
 87182                   Migrated Report - Other Part III       B3
 87183             Migrated Report - Investigate Property       B3

       REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  \
 0                417         0  2019-11-12 12:00:00  2019     11     Tuesday
 1                520         0  2019-11-25 16:30:00  2019     11      Monday
 2                            0  2019-11-30 21:00:00  2019     11    Saturday
 3                503         0  2019-11-16 13:30:00  2019     11    Saturday
 4                330         0  2019-12-12 07:50:00  2019     12    Thursday
 ...              ...       ...                  ...   ...    ...         ...
 87179                        0  2019-09-29 01:30:00  2019      9      Sunday
 87180                        0  2019-09-29 01:35:00  2019      9      Sunday
 87181                        0  2019-09-29 02:21:00  2019      9      Sunday
 87182                        0  2019-09-29 04:27:00  2019      9      Sunday
 87183                        0  2019-09-29 06:39:00  2019      9      Sunday

        HOUR  UCR_PART                                             STREET  \
 0        12       NaN                                            MORA ST
 1        16       NaN                                         POYDRAS ST
 2        21       NaN  SUDBURY ST & CAMBRIDGE ST\nBOSTON  MA 02108\nU...
 3        13       NaN                                AMERICAN LEGION HWY
 4         7       NaN                                      COLUMBIA ROAD
 ...     ...       ...                                                ...
 87179     1       NaN                                      BENNINGTON ST
 87180     1       NaN                                      CANTERBURY ST
 87181     2       NaN                                         W BROADWAY
 87182     4       NaN                                         FOTTLER RD
 87183     6       NaN                                         WILMORE ST

              Lat       Long                                  Location
 0      42.282082 -71.073649   (42.28208197671972, -71.07364874515646)
 1      42.256216 -71.124019  (42.256215920402155, -71.12401947329023)
 2      42.360866 -71.061316   (42.360866027118476, -71.0613160019785)
 3      42.284467 -71.111831   (42.28446742674232, -71.11183088758158)
 4       0.000000   0.000000                                    (0, 0)
 ...          ...        ...                                       ...
 87179  42.390271 -70.996769                                    (0, 0)
 87180  42.278688 -71.117344                                    (0, 0)
 87181  42.341287 -71.054679                                    (0, 0)
 87182  42.278922 -71.094995                                    (0, 0)
 87183  42.277964 -71.092463                                    (0, 0)

 [87184 rows x 17 columns],
       INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
 0           854652314          3115                 NaN
 1           457856954          3115                 NaN
 2           302030654          1106                 NaN
 3           212025777          1108                 NaN
 4           212025557          2670                 NaN
 ...               ...           ...                 ...
 70889        20063425          3114                 NaN
 70890        20062356          1107                 NaN
 70891        20046400          1501                 NaN
 70892        20038446          1501                 NaN
 70893        20030892           540                 NaN

                                      OFFENSE_DESCRIPTION DISTRICT  \
 0                                     INVESTIGATE PERSON       B2
 1                                     INVESTIGATE PERSON       B2
 2                        FRAUD - CREDIT CARD / ATM FRAUD       D4
 3                                        FRAUD - WELFARE       A7
 4                        HARASSMENT/ CRIMINAL HARASSMENT       A1
 ...                                                  ...      ...
 70889                               INVESTIGATE PROPERTY       A7
 70890                              FRAUD - IMPERSONATION      E18
 70891  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
 70892  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
 70893                              BURGLARY - COMMERICAL      C11

       REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  \

In [17]:
df_combined = pd.concat(table)

In [18]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 583052 entries, 0 to 71720
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      583052 non-null  object
 1   OFFENSE_CODE         583052 non-null  int64
 2   OFFENSE_CODE_GROUP   353253 non-null  object
 3   OFFENSE_DESCRIPTION  583052 non-null  object
 4   DISTRICT             578913 non-null  object
 5   REPORTING_AREA       583052 non-null  object
 6   SHOOTING             231254 non-null  object
 7   OCCURRED_ON_DATE     583052 non-null  object
 8   YEAR                 583052 non-null  int64
 9   MONTH                583052 non-null  int64
 10  DAY_OF_WEEK          583052 non-null  object
 11  HOUR                 583052 non-null  int64
 12  UCR_PART             353156 non-null  object
 13  STREET               571165 non-null  object
 14  Lat                  560522 non-null  float64
 15  Long                 560522 non-null  float64
 16  Location             583052 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 80.1+ MB

In [19]:
df_combined.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192068249,2647,Other,THREATS TO DO BODILY HARM,B2,280,NaN,2015-08-28 10:20:00,2015,8,Friday,10,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)"
1,I192061894,1106,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,C11,356,NaN,2015-08-20 00:00:00,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)"
2,I192038828,1107,Fraud,FRAUD - IMPERSONATION,A1,172,NaN,2015-11-02 12:24:00,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
3,I192008877,1107,Fraud,FRAUD - IMPERSONATION,E18,525,NaN,2015-07-31 10:00:00,2015,7,Friday,10,Part Two,WINGATE RD,42.237009,-71.129566,"(42.23700950, -71.12956606)"
4,I182090828,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D4,159,NaN,2015-12-01 12:00:00,2015,12,Tuesday,12,Part Two,UPTON ST,42.342432,-71.072258,"(42.34243222, -71.07225766)"